<table>
  <tbody>
    <tr>
      <th>Login URL</th>
      <td>
        <input type="text" id="settings_login_url"
                           value="<%= settings['instance_url'] %>"
                           name="settings[instance_url]" >
      </td>
    </tr>
    <tr>
      <th>Client ID</th>
      <td>
        <input type="text" id="settings_client_id"
                           value="<%= settings['client_id'] %>"
                           name="settings[client_id]" >
      </td>
    </tr>
    <tr>
      <th>Client Secret</th>
      <td>
        <input type="text" id="settings_client_secret"
                           value="<%= settings['client_secret'] %>"
                           name="settings[client_secret]" >
      </td>
    </tr>
    <tr>
      <th>Username</th>
      <td>
        <input type="text" id="settings_username"
                           value="<%= settings['username'] %>"
                           name="settings[username]" >
      </td>
    </tr>
    <tr>
      <th>Password</th>
      <td>
        <input type="text" id="settings_password"
                           value="<%= settings['password'] %>"
                           name="settings[password]" >
      </td>
    </tr>
  </tbody>
</table>
